.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #630b5a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.box {
  border: 1px solid #ccc;
  background: #fff;
  transition: .5s ease;
}

.box:hover {
  box-shadow: 5px 4px 8px 4px rgba(0, 0, 0, 0.50);
  transition: .5s ease;
  transform: scale(1.009);}


.card {
  border-radius: 0px;
  border: none;
}

@media (min-width:300px) and (max-width:800px)
{
 .q1{
    font-size: 20px;
    padding: 2px;
    margin: 5px;
 }
 .q2{
  font-size: 10px;
  padding: 2px;
    margin: 5px;
  
 }
}
@media (min-width:800px) and (max-width:7500px)
{
  .q1{
  font-size :50px;
}

.q2{
  font-size: 20px;
}
}



.carousel-caption h5 {
  animation: anime 1s ease 0s 1;
}
.carousel-caption p {
  animation: anime 1.2s ease 0s 1;
}
.carousel-caption button {
  animation: anime 1.5s ease 0s 1;
}

@keyframes anime {
  0% {
    transform: translateY(100px);
  }}





/* .mb{
  font-size: 50px;
}
.mu{
  font-size:20px;
  padding:10px;
  padding-bottom: 0; */

/* @media  (max-width:1200px){
  .carousel-caption{
   font-size:medium;
  }
  h5{
  font-size:xx-large;
}
}
@media (min-width:300px) and (max-width:500px){
  .carousel-caption{
   font-size:small;
  }
  h5{
  font-size:small;
}
} */